* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: grey;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1300px;
	margin: 0px auto;
	background: white;
	overflow: hidden;
}

.header {
	min-height: 86px;
	position: relative;
}

.header li {
	list-style-type: none;
	margin-left: 3%;
}

.header ul {
	margin-top: 42px;
	margin-left: 34%;
	font-size: 13px;
	
	display: inline-flex;
}

a {
   text-decoration: none;
   color: #666666;
   opacity: 0.67;
   
}

a:hover {
   opacity: 1;
   transition: .8s;
}
   
.logo-one{
	width: 215px;
	font-weight: 400;
	font-size: 31px;
	font-family: Nunito Regular;
	color: #595959;
	position: absolute;
	left: 10.23%;
	top: 23.25%;
}

.login {
	width: 100px;
	background-color: #add136;
	height: 37px;
	color: white;
	font-size: 13px;
	opacity: 0.81;
	font-weight: 400;
	font-family: "Open Sans - Semibold";
	text-align: center;
	border-radius: 30px;
	line-height: 37px;
	position: absolute;
	left: 81.53%;
	top: 30.23%;
}
 

.property {
    overflow: hidden;
	position: relative;
	max-width: 1300px;
	min-height: 570px;
}

.property::before {
	content: "";
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-image: url("../images/main.png");
	filter: brightness(80%);
}

.left-arrow {
	position: absolute;
	top: 88%;
	left: 85%;
}
 
.right-arrow {
	position: absolute;
	top: 88%;
	left: 88%;
}

.in-property {
	color: white;
	line-height: 77px;
	position: absolute;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 49px;
    top: 26%;
	left: 20%;
}

.in-property p {
	font-family: "Open Sans", sans-serif;
	font-size: 35px;
	text-align: center;
}
	
.become {
	width: 254px;
	height: 73px;
	background-color: #99c50a;
	border-radius: 10px;
	font-size: 19px;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans - Semibold", sans-serif;
	font-weight: 400;
	line-height: 77px;
	position: absolute;
	top: 57%;
	left: 42%;
}

.work {
	min-height: 659px;
}

.work img {
	margin: 100px 50% 30px;
}

.our-work {
	font-size: 31px;
	font-family: "Open Sans - Semibold", sans-serif;
	text-transform: uppercase;
	line-height: 50px;
	font-weight: 400;
	color: #515151;
	text-align: center;
}

.lorem {
	font-size: 19px;
	opacity: 0.71;
	color: #515151;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 40px 14.61%;
}

.lorem p {
	margin-bottom: 50px;
	line-height: 30px;
}

.browse-projects {
	min-height: 81px;
	display: flex;
	margin: 0 11.30%;	
}

.browse-projects hr:not(.between-section) {
	margin-top: 13.12%;
	opacity: 0.23;
}

.between-section {
	max-width: 63%;
	opacity: 0;
}

.simple {
	width: 334.66px;
	color: #656565;
	font-family: "Open Sans";
	font-size: 33px;
	font-weight: 300;
}

.in-simple {
	width: 43px;
	height: 43px;
	border-radius: 21.5px;
	background: #5f5f5f;
	display: inline-block;
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin-right: 9.5px;
	line-height: 45px;
}

.active {
	background: #add136;
	transition: 1.5s;
}

.ghost {
	opacity: 1;
	border-color: #add136;
	height: 2px;
	transition: 1.5s;
}

.within {
	display: inline;
	margin-left: 10%;
}

.browse-projects-bottom {
	min-height: 310px;
	margin: 0 11.30%;
	display: flex;
}

.within-bottom-one {
	width: 33.26%;
	margin-top: 8%;
	margin-left: 8%;
}

.within-bottom-one p {
	text-align: center;
}

.within-bottom-two {
	margin-left: 11%;
	margin-top: 5%;
	line-height: 28px;
}

.one-indent {
	color: #add136;
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 4.5%;
}

.two-indent {
	opacity: 0.67;
	color: #606060;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
}

.find-find {
	min-height: 305px;
	display: flex;
}

.find-one {
	background: #e2f8ff;
}

.find-two {
	background: #f5f9eb;
}

.picture-find-one {
	margin-left: 14%;
	margin-top: 15%;
	float: left;
}

.picture-find-two {
	margin-left: 14%;
	margin-top: 15%;
	float: left;
}

.find-one h2, .find-two h2 {
	margin-left: 50%;
	margin-top: 6.5%;
	color: #515151;
	font-family: Montserrat, sans-serif;
	font-size: 23px;
}

.rubric {
	margin: 6% 10% 0 50%;
	color: #515151;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
}

.batton-find-one, .batton-find-two {
	width: 187px;
	height: 51px;
	color: #ffffff;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-left: 50.5%;
	border-radius: 10px;
	margin-top: 3%;
	line-height: 50px;
}

.batton-find-one {
	background: #26a6d1;
}

.batton-find-two {
	background: #add136;
}

.featured {
	min-height: 100px;
	margin: 6% 4% 5%;
}

.featured h2 {
	margin-left: 9.5%;
	color: #515151;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 29px;
}

.featured p {
	margin-left: 9.5%;
	margin-top: 2%;
	color: #8f8f8f;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 400;
	margin-right: 36%;
}

.become-repeat {
	width: 183px;
	height: 50px;
	border: 1px solid #515151;
	background-color: #ffffff;
	opacity: 0.71;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	float: right;
	margin-top: -5%;
	margin-right: 9%;
	border-radius: 10px;
	line-height: 50px;
}

.featured-two {
	min-height: 460px;
	margin-left: 4%;
	margin-right: 4%;
	display: flex;
}

.blok-in-featured {
	width: 300px;
	min-height: 520px;
	border-radius: 10px 10px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.14);
	background-color: #f7f7f7;
}

.second-block {
	margin: 0 3.33%;
	background-image: url("../images/street-two.png");
	background-repeat: no-repeat;
}

.first-block {
	margin-left: 9.16%;
	background-image: url("../images/street-one.png");
	background-repeat: no-repeat;
}

.third-block {
	margin-right: 9.16%;
	background-image: url("../images/street-three.png");
	background-repeat: no-repeat;
}

.images-in-block {
	height: 44%;
}

.triangle {
   border-radius: 10px 0 0 0;
   background-image: url("../images/angle.png");
   background-repeat: no-repeat;
   width: 74px;
   height: 74px;
   color: #ffffff;
   font-family: Montserrat, sans-serif;
   font-size: 15px;
   font-weight: 400;
}

.shift {
	transform:rotate(-40deg);
}

.button-block {
	width: 46.66%;
	height: 17.39%;
	background: #26a6d1;
	border-radius: 10px;
	margin-left: 47%;
	margin-top: 33%;
	line-height: 40px;
	text-align: center;
}

.block-gbp, .button-block {
	color: #ffffff;
	font-size: 17px;
	font-family: "Open Sans", sans-serif;
}

.block-gbp {
	font-weight: 400;
}

.bottom-block {
	/*height: 55.76%;*/
	opacity: 0.71;
}

.first-indent {
	color: #484848;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin-top: 10%;
	margin-left: 8%;
}

.second-indent {
	opacity: 0.71;
	color: #484848;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin: 5% 11% 0 6%;
	line-height: 25px;
}

.picture-indent {
	margin: 5% 6% 0 6%;
}

.end-indent {
	color: #8d8d8d;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin: 5% 0 0 6%;
}

.end-indent-two {
	float: right;
	color: #8d8d8d;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 13px;
	font-weight: 400;
	margin: -5% 9% 0 6%;
}

.bottom-block hr {
	margin: 5% 8% 0 6%;
	opacity: 0.71;
}

.end-indent-three {
	float: right;
	margin: 5% 9% 0 6%;
}

.end-indent-four {
	float: right;
	margin: 4.5% -1.4% 0 0;
}

.pre-footer {
	min-height: 610px;
	background-image: url("../images/city.png");
}

.one-pre-footer {
	color: #9ec02d;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 39px;
	margin: 5.5% 17% 3%;
	text-align: center;
}

.two-pre-footer {
	color: #949494;
	font-family: "Open Sans", sans-serif;
	font-size: 19px;
	font-weight: 400;
	margin: 0 16% 0;
	line-height: 35px;
	text-align: center;
}

.comment {	
	margin: 7.5% 0 0 13.3%;
}

.comment-insade {
	max-width: 400px;
	background-image: url("../images/message.png");
	background-repeat: no-repeat;
	min-height: 170px;
	overflow: hidden;
}

.bottom-of-pre {
	display: flex;
}

.comment-insade h3 {
	color: #9ec02d;
	font-family: "Open Sans - Semibold", sans-serif;
	font-size: 21px;
	margin: 5.5% 5% 3% 28%;
}

.comment-insade p {
	color: #848484;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	margin: 0 9% 0 9%;
	text-align: center;
}

.Davids {
	margin: 3% 0 0 12%;
	float: left;
}

.end-David {
    margin: 7% 0 0 32%;
	color: #494949;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-weight: 700;
}

footer {
	color: #848484;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

footer img {
	margin: 1.5% 10% 4.9% 10%;
}
	
@media screen and (min-width: 1200px) {
	.header ul {
	min-width: 520px;
	}
}

@media screen and (max-width: 1200px) {
	.header li {
	margin-left: 6%;
	margin-top: 1%;
}

.featured-two {
	min-height: 460px;
	margin-left: 4%;
	margin-right: 4%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.blok-in-featured {
	min-height: 520px;
	border-radius: 10px 10px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.14);
	background-color: #f7f7f7;
	margin-top: 5%;
}

.third-block {
	margin: 3%;
}

.second-block {
	margin: 3%;
}

.first-block {
	margin: 3%;
}

.within {
	display: inline;
	margin-left: 0;
}

footer img {
	margin: 1.5% 0 4.9% 0;
}

.pre-footer {
	background-repeat: no-repeat;
	background-size: cover;
}

.bottom-of-pre {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.comment {	
	margin: 5% 10% 5% 10%;
	min-width: 320px;
}

.Davids {
	margin: 3% 7% 0 12%;
}

.end-David {
    margin: 7% 0 0 0;
}
}

@media screen and (max-width: 1035px) {
.in-property {
	line-height: 77px;
	font-size: 2em;
    top: 26%;
	left: 20%;
}

.become {
	max-width: 254px;
	min-height: 73px;
	font-size: 19px;
	line-height: 77px;
	position: absolute;
	top: 57%;
	left: 42%;
}
}	

@media screen and (max-width: 984px) {
.browse-projects {
	min-height: 81px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 11.30%;	
}

.simple {
	margin-bottom: 3%;
}

.find-find {
	display: flex;
	flex-direction: column;
}

.batton-find-one, .batton-find-two {
	margin-bottom: 5%;
}
}

@media screen and (max-width: 900px) {
.header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 3%;
}

.logo-one{
	position: static;
	margin: 3%;
}

.login {
	position: static;
	margin: 0 3% 3% 3%;
}
}	

@media screen and (max-width: 768px) {
.browse-projects-bottom {
	min-height: 310px;
	margin: 0 11.30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.within-bottom-two {
	margin-bottom: 5%;
}

.featured {
	min-height: 100px;
	margin: 6% 4% 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.featured p, .become-repeat {
	margin: 3% auto;
}
}

@media screen and (max-width: 680px) {
.in-property {
	font-size: 2em;
}

.become {
	top: 77%;
	left: 30%;
}

.left-arrow {
	position: absolute;
	top: 95%;
	left: 90%;
}
 
.right-arrow {
	position: absolute;
	top: 95%;
	left: 96%;
}
}

@media screen and (max-width: 425px) {
.picture-find-one,.picture-find-two {
	float: none;
	text-align: center;
	margin: 3%;
}

.batton-find-one, .batton-find-two, .rubric, .find-one h2, .find-two h2 {
    margin: 3%;
	text-align: center;
}

.batton-find-one, .batton-find-two {
	margin: 5% auto;
}
}

@media screen and (max-width: 375px) {
.in-property {
    top: 16%;
}

.become {
	left: 15%;
}

.left-arrow {
	left: 90%;
}
 
.right-arrow {
	left: 96%;
}
}

@media screen and (max-width: 320px) {
.browse-projects {
	margin-left: 19%;	
}
}